# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [85]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo= pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [1]:
chipo.head(10)

NameError: name 'chipo' is not defined

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
chipo.shape[0]

4622

In [89]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [90]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [93]:
order_count = chipo.groupby('item_name')['quantity'].sum()
sorted_items = order_count.sort_values(ascending=False)
sorted_items.index[0]

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [94]:
order_count.loc[sorted_items.index[0]]

761

### Step 11. What was the most ordered item in the choice_description column?

In [95]:
order_count = chipo.groupby('choice_description')['quantity'].sum()
sorted_desc = order_count.sort_values(ascending=False)
sorted_desc.index[0]

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [96]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [116]:
chipo['item_price'].dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [114]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [115]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [117]:
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [109]:
len(chipo['order_id'].unique())

1834

### Step 16. What is the average revenue amount per order?

In [118]:
# Solution 1
chipo['item_price'].sum()/len(chipo['order_id'].unique())

18.811428571428575

In [119]:
# Solution 2
chipo.groupby(['order_id'])['item_price'].sum().mean()

18.811428571428568

### Step 17. How many different items are sold?

In [113]:
 len(chipo['item_name'].unique())

50