# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [ ]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? (storeA    25127)
# Which store makes the most sales on average? (storeB     6756.71)
# Which store sells the most during the week of March 13th, 2016? (storeD    5513)
# In what week does store C make its worst sales? '2014-07-06' 
# Which store has the most sales in the latest 3-month period? (storeA    87591)
# What is the most consistent store in sales ? (storeA) 
# Given the information you gathered, what do you think is the best store financially? (storeA)

In [55]:
# import and load the data
import pandas as pd
from datetime import datetime, timedelta
df=pd.read_csv('store_data.csv')
df.tail()

           week  storeA  storeB  storeC  storeD  storeE
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

In [3]:
# explore the data (gather as much information as you can)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [5]:
# clean the data
sum(df.duplicated())
# I don't have to clean the data because it's already clean

0

In [34]:
# total sales for the last month
df['week'] = pd.to_datetime(df['week'])
feb_sales=df[(df['week'].dt.month == 2)]
last_year=feb_sales[(feb_sales['week'].dt.year == 2018)]
total_sales=last_year.sum(numeric_only=True)
total_sales
# total_sales.sum()

storeA    25127
storeB    24595
storeC    16447
storeD    22783
storeE     7787
dtype: int64

In [27]:
# average sales
df.mean()

week      2016-03-30 12:00:00
storeA                5865.48
storeB                6756.71
storeC               4942.105
storeD               5431.405
storeE               2580.025
dtype: object

In [29]:
# sales on march 13, 2016
sales=df[(df['week']=='2016-03-13')]
sales.sum(numeric_only=True)

storeA    2054
storeB    1390
storeC    5112
storeD    5513
storeE    2536
dtype: int64

In [49]:
# worst week for store C
stord=df.sort_values('storeC')
worst=stord.iloc[0]
worst['week']

Timestamp('2014-07-06 00:00:00')

In [58]:
# total sales during most recent 3 month period
df['week'] = pd.to_datetime(df['week'])
last_day=df.sort_values('week',ascending=False).iloc[0]['week']
start_date = last_day - timedelta(days=90)
recent_sales = df[(df['week'] >= start_date)]
recent_sales.sum(numeric_only=True)

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64

In [ ]:
# Go back to the top and answer the questions